<section id="hero">
    <div class="flex" >
        <div id="hero-text">
            <div id="hi">Oh hi there</div>
            <div id="desc">We make free, online tools for <span id="topic">Math</span></div>
        </div>
        <div id="shove"></div>
    </div>
    <div class="flex">
        <div class="checkOut">
            <p>Check Them Out</p>
            <div class="arrow"></div>
        </div>
        </div>
    </section>
    <div id="wave1" class="wave"></div>
    <div id="wave2" class="wave"></div>
    <section id="toolbox">
        <div id="toolContainer">
            <div id="tool-header" class="mini-header">Tool Box</div>
            <div id="line"></div>
            <div id="tool-list">
                <div id="math">
                    <div id="tool-text"></div>
                    <div id="arrow"></div>
                </div>
                <div id="Physics">
                    <div id="tool-text"></div>
                    <div id="arrow"></div>
                </div>
                <div id="Networking">
                    <div id="tool-text"></div>
                    <div id="arrow"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="moreInfo">
        <div id="mI-1">
            <div id="header" class="mini-header">WHAT MAKES US SPECIAL</div>
            <div class="info-desc">Many of these tools can be found elsewhere on the internet. We’ve analyzed many of them, found room for improvement, and carefully crafted ours to be more intuitive, interactive, and fast.</div>
        </div>
        <div id="mI-2">
            <!-- INFOGRAPHIC GOES HERE (ANIMATED?)-->
        </div>
        <div id="mI-3">
            <!-- INFOGRAPHIC GOES HERE (ANIMATED?)-->
        </div>
        <div id="mI-4">
            <div id="header" class="mini-header"></div>
            <div class="info-desc"></div>
        </div>
    </section>
    <section id="social">
        <div id="title">If you had fun here, consider sharing this website with your friends</div>
        <div id="links">
            <div id="fa"></div>
            <div id="tw"></div>
            <div id="go"></div>
            <div id="re"></div>
            <div id="ma"></div>
        </div>
    </section>
    <section id="comments">

    </section>