<div class="flex main">
    <section class="tools">
        <div class="grid">
            <div class="containers" onclick="window.location='2d-distance-formula';">
                <div class="tool" id="one">
                    <div class="name">2D Distance Formula</div>
                    <div class="desc">Find the distance between two points</div>
                </div>
            </div>
            <div class="containers">
                <div class="tool" id="two">
                    <div class="name">Quadratic Formula</div>
                    <div class="desc">Solve a quadratic equation</div>
                </div>
            </div>
            <div class="containers">
                <div class="tool" id="three">
                    <div class="name">Pythagorean Theorem</div>
                    <div class="desc">Using the length of two sides of a triangle, find the third</div>
                </div>
            </div>
            <div class="containers">
                <div class="tool" id="four">
                    <div class="name">Number Generator</div>
                    <div class="desc">Produce even, odd, prime, pi, fibonacci, and random numbers</div>
                </div>
            </div>
        </div>
    </section>
</div>