
<div class="flex main">
    <section class="tools flex">
        <div class="tool">
        <div class="flex points">
            <div class="point-one">
                <div id="label"> Point One</div>
                <div class="flex point">
                    <div class="left x colm">
                        <input class="x" id="left-x" type="number">
                        <div id="input-label">X</div>
                    </div>
                    <div class="left y colm">
                        <input class="y" id="left-y" type="number">
                        <div id="input-label">Y</div>
                    </div>
                </div>
            </div>
            <div class="point-two">
                <div id="label"> Point Two</div>
                <div class="flex point">
                    <div class="right x colm">
                        <input id="right-x" type="number">
                        <div id="input-label">X</div>
                    </div>
                    <div class="right y colm">
                        <input id="right-y" type="number">
                        <div id="input-label">Y</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="colm">
            <div class="distance">Distance: <span id="anw"></span></div>
{{!-- 
            <div class="reset btn">
                <div class="reset btn-inner">
                    <div id="reset" class="button-text">Reset</div>
                </div>
            </div> --}}
            <div id="reset" >Reset</div>


            {{!-- <img class="screenshot" id="screenshot-2x"/> --}}
            

        </div>
        </div>
            <div id="calculator"></div>
    </section>

</div>
<section class="tool-info flex">
<div class="tool-info">
    <div class="faqs">FAQs</div>

    <div class="header">How do I use this?</div>
    <hr>
    <p>This calculator gives you the shortest distance between two points. Enter the X and Y values for each point, and it will calculate the distance, as well as display the points on an interactive graph. Negative numbers and decimals are valid input.</p>
    <div class="space"></div>
    
    <div class="header">What's the distance formula?</div>
    <hr>
    <p>The 2d distance formula is the following:</p>
    <div class="centered">$$ d = \sqrt {\left( {x_1 - x_2 } \right)^2 + \left( {y_1 - y_2 } \right)^2 }$$</div>
    <p>This calculator plugs your values in, solves for d, and then simplies any radicals.</p>
    <div class="space"></div>
    <div class="header">Where does the distance formula come from?</div>
    <hr>
    <p>It is derived from the the Pythagorean theorem. Do you see how?</p>
    <div class="centered">$$ a^2 + b^2 = c^2 $$</div>
</div>
</section>
<section class="comments flex">
<div class="commentContainer">
    <div class="commentHeader"> Got a question? Ask below! </div>
    <div class="commentHeader sub">Feedback is awesome too.</div>
<div class="commentbox"></div>
</div>
</section>
