
<div class="myflex main">
    <section class="tools myflex">
        <div class="tool colm">
        <div class="myflex points">
            <div class="point-one">
                <div id="label"> Point One</div>
                <div class="myflex point">
                    <div class="left x colm">
                        <input class="x" id="left-x" type="number">
                        <div id="input-label">X</div>
                    </div>
                    <div class="left y colm">
                        <input class="y" id="left-y" type="number">
                        <div id="input-label">Y</div>
                    </div>
                </div>
            </div>
            <div class="point-two">
                <div id="label"> Point Two</div>
                <div class="myflex point">
                    <div class="right x colm">
                        <input id="right-x" type="number">
                        <div id="input-label">X</div>
                    </div>
                    <div class="right y colm">
                        <input id="right-y" type="number">
                        <div id="input-label">Y</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="colm">
            <div class="distance">Distance: <span id="anw"></span></div>
{{!-- 
            <div class="reset btn">
                <div class="reset btn-inner">
                    <div id="reset" class="button-text">Reset</div>
                </div>
            </div> --}}
            <div id="reset" >Reset</div>


            {{!-- <img class="screenshot" id="screenshot-2x"/> --}}
            

        </div>
        </div>
            <div id="calculator"></div>
    </section>

</div>

