
<div class="flex main">
    <section class="tools flex">

        <div class="tool">
        <h1 id="title">Open Port Check Tool</h1>
        <hr>
         <form action="compsci/" method="GET">
    IP address or hostname:<br>
    <input type="text" name="ip" id="ip" placeholder="e.g. www.example.com "><br>
    Port:<br>
    <input type="number" name="port" id="port" placeholder="e.g. 80">

</form>
    <div id="status">Status</div>
    <div id="waiting-message">Waiting for input...</div>
    <div id="success-message">Port <span id="port-copy" class="constColor"></span> on <span id="ip-copy" class="constColor"></span> is currently <span id="results"></span></div>
</div>
    </section>
            
</div>
