





/* --- Footer --- */

svg#wave>path {
    fill: white;
}

footer{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > .main-text{
    margin-left: 10%
}
div#RileyCrym{
    font-size: 2em;
    color:white;
}
div#legal{
    color: var(--sub-text);
    font-family: "Open Sans";
    font-size: 1.2em;
}
div.tool-list{
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2em;
    color: var(--sub-text);
    margin-right: 10%
}
div.tool-list > a{
    cursor: pointer;
}