* {
    --page: #F4F4F6;
    --dark: #222222;
    --sub-text: #7C7E80;
    --orange: #E64910;
    --teal: #36BCDA;
    --green: #17BD28;
    --purple: #9C4CDC;
    --sky-blue: #0099FF;
}

html,
body {
    background-color: var(--dark);
    width: 100%;
    height: 100%
}

body {
    margin: 0px;
    background: #222222;
    font-family: "Kameron";
}

div.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.flex.main {
    background: var(--page);
}



nav {
    position: fixed;
    width: 100%;
    height: 100px;

    background: white;
    z-index: 2;
}
div.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

div#site {
    font-size: 2em;
    margin: 1em
}

span#domain {
    color: var(--sky-blue);
}

span#route {
    color: var(--sub-text);
}


div.buttons{
    margin-right: 7%;
}

.btn {
    margin: 1em;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.1), -1px -1px 1.5px rgba(174, 178, 183, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: border-bottom 0.1s ease-in, transform 0.1s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: var(--sub-text);
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px 0 rgba(0, 57, 95, 0.3);
    color: var(--sky-blue);
}
.btn:active{
    transform: scale(1);
}

div.btn-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7em;

}

.button-text {

    font-size: 1.2em
}


div#divider {
    width: 100%;
    height: 7px;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.04), inset 2px 2px 4px rgba(0, 0, 0, 0.22);
    background: white;
}

div.push {
    width: 100%;
}





svg#wave{
    width: 100%;
    height: 20%;
}

svg#wave>path {
    fill: var(--page);
    animation: wavy 30s linear infinite alternate;
    animation-fill-mode: forwards;
    -webkit-animation: wavy 30s linear infinite alternate;
    -webkit-animation-fill-mode: forwards;
}

@keyframes wavy {
0%{
    d:path("M0,224L60,234.7C120,245,240,267,360,250.7C480,235,600,181,720,154.7C840,128,960,128,1080,133.3C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z");
}
50%{
    d:path("M0,192L60,176C120,160,240,128,360,133.3C480,139,600,181,720,186.7C840,192,960,160,1080,170.7C1200,181,1320,235,1380,261.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z");
}
100%{
    d:path("M0,192L60,186.7C120,181,240,171,360,149.3C480,128,600,96,720,101.3C840,107,960,149,1080,154.7C1200,160,1320,128,1380,112L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z");
}

}

footer{

display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 30px;
}
footer > .main-text{
margin-left: 10%
}
div#RileyCrym{
font-size: 2em;
color:white;
}
div#legal{
color: var(--sub-text);
font-family: "Open Sans";
font-size: 1.2em;
}
div.tool-list{
display: flex;
flex-flow: column nowrap;
font-size: 1.2em;
color: var(--sub-text);
margin-right: 10%
}
div.tool-list > a{
cursor: pointer;
}
a#tool-link1:hover{
color: var(--orange)
}
a#tool-link2:hover{
color: var(--teal)
}
a#tool-link3:hover{
color: var(--green)
}
a#tool-link4:hover{
color: var(--purple)
}

@media screen and (max-width: 600px) {

    footer{
        flex-flow: column nowrap;
    }
    
    /* footer > .main-text{
        margin: 
        } */
        div.tool-list{
            margin: 2em 0px 3em 0px;
            }
}